<%= render "layouts/header" %>

<center>
<div id="name_of_recipe">
  <h1><%= @recipe.name %></h1>
</div>

<div id="image_of_recipe">

  <%= image_tag( @recipe.image, size: "200x200") %>


</div>

<% if current_user %>
  <%= button_to "Save This Recipe", "/saved_recipes", params: {user_id: current_user.id, recipe_id: @recipe.id, recipe_name: @recipe.name}, method: :post %>
<% end %>



<div id="ingredient_header">
  <h4>Ingredients:</h4>
</div>

<div id="ingredients">
<% @recipe.ingredients.each do |name, qty| %>

<ul><%= name %>: <%= qty %></ul>

<% end  %>
</div>


<div id="instructions_header">
  <h4>Instructions:</h4>
</div>

<div id="instructions">
  <%= @recipe.instructions %>
</div>







</center>
