<%= render "layouts/header" %>

<% if current_user %>
  <%= button_to "Save This Recipe", "/saved_recipes", params: {user_id: current_user.id, recipe_id: @recipe.id, recipe_name: @recipe.name}, method: :post %>
<% end %>

<%= button_to "Pair With A Cocktail", "/recipes/#{@recipe.id}", params: {area: @recipe.area}, method: :get %>

<div class="whole_page">

<center>
<div id="name_of_recipe">
  <h1><%= @recipe.name %></h1>
</div>

<div id="image_of_recipe">

  <%= image_tag( @recipe.image, size: "200x200") %>

</div>




  <div id="ingredient_header">
    <h4>Ingredients:</h4>
  </div>




  <div id="ingredients">
    <% @recipe.ingredients.each do |name, qty| %>
      <div id="ingredient_row">

        <div id="ingredient_name"><%= name %>:</div><div id="ingredient_amount"><%= qty %></div>
      </div>


    <% end  %>
  </div>


  <div id="instructions_header">
    <h4>Instructions:</h4>
  </div>

  <div id="instructions">
    <% @recipe.instruction_steps.each do |step| %>
      <div id="instruction_row">

        <div id="instruction_step"><%= step %><br></div>
      </div>

    <% end %>

  </div>



<div class="cocktail_info">
  <% if @cocktail %>
    <%= @cocktail.name %>
    <%= image_tag( @cocktail.image, size: "200x200") %>
    <% @cocktail.ingredients.each do |name, qty| %>
      <div id="ingredient_row">

        <div id="ingredient_name"><%= name %>:</div><div id="ingredient_amount"><%= qty %></div>
      </div>


    <% end  %>
  <% end %>
</div>


</center>
