<style>
h1 {
  font-size: 10em;
}

</style>

<div class="container text-center">


  <% if current_user %>
  <%= button_to "Log Out", "/sessions", method: :delete %>
  <% else %>
  <%= button_to "Log In With Google", "/auth/google_oauth2", method: :get %>
  <% end %>
  <br>

  <%= button_to "Browse Recipes", "/recipes/search", method: :get %>


<h1 class="animate__animated animate__lightSpeedInLeft">FAST FOOD</h1>

  <br><%= button_to "Random Recipe", "/recipes/random", method: :get %>
  <br><%= button_to "Admin Login", "/admin/security_check", method: :get %>

</div>
